
CinepolisApp/app/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
CinepolisApp/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
CinepolisApp/app/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
CinepolisApp/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
CinepolisApp/app/build/intermediates/dex/debug/mergeProjectDexDebug/6/classes.dex
CinepolisApp/app/build/intermediates/dex/debug/mergeProjectDexDebug/12/classes.dex
CinepolisApp/.idea/workspace.xml
CinepolisApp/.idea/workspace.xml
CinepolisApp/.idea/workspace.xml
CinepolisApp/.idea/workspace.xml
CinepolisApp/app/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.example.cinepolisapp-binding_classes.json
CinepolisApp/app/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
CinepolisApp/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
CinepolisApp/app/build/intermediates/incremental/mergeDebugResources/merger.xml
debug.json
CinepolisApp/app/build/intermediates/processed_res/debug/out/output-metadata.json
CinepolisApp/app/src/main/res/layout/user_cartelera.xml
