
CinepolisApp/app/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
CinepolisApp/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
CinepolisApp/app/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
CinepolisApp/app/build/intermediates/stable_resource_ids_file/debug/stableIds.txt
CinepolisApp/app/build/intermediates/dex/debug/mergeProjectDexDebug/6/classes.dex
CinepolisApp/app/build/intermediates/dex/debug/mergeProjectDexDebug/12/classes.dex
CinepolisApp/.idea/workspace.xml
CinepolisApp/.idea/workspace.xml
